<div class="ui ">
    <div class="ui large secondary network menu inverted">

    <a class="item">
      <i class="home icon"></i>Home
    </a>
<div class="right item">
     <a class="item" routerLink="/login" routerLinkActive="active">
      Login
    </a>

     <a class="item" routerLink="/signup" routerLinkActive="active">
      Signup
    </a>
 </div>
  </div>

  <div class="ui text container">
      <h1 class="ui inverted header">
        Sample MEAN Stack Application
      </h1>
      <h2>Featuring Angular 4 , Express , Mongoose and Passport Authentication.</h2>
      <a class="ui large primary button github-link-btn" href="https://github.com/nirmalks/login-mean-stack"><i class="right arrow icon"></i>View on github</a>
      
    </div>
</div>
 
   