<div class="container">
	<div class="content">
		<h2>Sign Up </h2>
	</div>
	<form novalidate [formGroup]="userForm" name="signup-form" class="large form" (ngSubmit)="signup()">
		<div class="field">
			<label class="label">Email</label>
			<div class="control">
				<input type="text" class="input" name="email" formControlName="email" placeholder="E-mail address" required>
				<div class="is-danger" [hidden]="!(userForm.email)">
					Email is required
				</div>
			</div>
		</div>

		<div class="field">
			<label class="label">Username</label>
			<div class="control">
				<input type="text" class="input" name="username" formControlName="username" placeholder="Username" required>
				<div class="is-danger" [hidden]="!(userForm.username)">
					Username is required
				</div>
			</div>
		</div>

		<div class="field">
			<label class="label">Password</label>
			<input type="password" class="input" name="password" formControlName="password" placeholder="Password" required>
			<div class="is-danger" [hidden]="!(userForm.password)">
				Password is required
			</div>
		</div>

		<div class="field">
			<div class="control">
				<button type="submit" class="fluid large submit button" [disabled]="!userForm.valid">Signup</button>
			</div>

		</div>
	</form>

	<div>
		<div class="message">
			Already have an account?
			<a routerLink="/login">Login</a>
		</div>

		<div class="message">
			Signup using your social accounts.
		</div>
		<button (click)="googleSignup()" class="button google-plus-button">
				<i class="fa fa-google-plus google-plus-icon"></i>
				Google Plus Signup
			</button>
	</div>



</div>